.input{
  width: 100%;
  height: 50px;
  font-family: cursive;
  font-size: 14px;
  margin-top : 5px;
  border : 1px solid rgb(134, 132, 132);
}
#container{
  margin-top : 15% !important;
  display: none;
}

.btn_blue{
  background: rgb(50, 50, 104) !important;
  width: 100%;
  margin-top: 10%;
  text-align: center;
}
.btn_emergency{
  background: rgb(138, 73, 44) !important;
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

.arduinos{
  margin-top: 10px; 
  margin-left:10px;
}
.con-doors{
  display: inline-block;
  float: left;
}
.titulo{
  margin-left: 35px;
  font-family: cursive;
}
.Seleccione{
  font-family: cursive;
  margin : auto !important;
  margin-left : 22% !important;
  
}
/* #door3{
  display: none;
} */